/* styles.css */

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;    
}

h1, h2, h4 {
    color: #343a40;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#uploadStatus {
    font-weight: bold;
}

#studyList .study-item {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

#studyList .study-item:last-child {
    border-bottom: none;
}

canvas {
    max-width: 100%; /* Makes the canvas responsive */
    height: auto; 
}

.chart-container {
    width: 200px;
    height: 100px;
    margin: 0 auto; /* Centers the chart in its container */
}

.large-chart-container {
    width: 100px;
    height: 200px;
    margin: 0 auto;
}

svg {
    background-color: #f9f9f9;
    margin: 0 auto;
}

.legend {
    font-size: 8px;
}

.legend rect {
    stroke-width: 2;
}
